<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css">
</head>
<body>
  <div id="swagger-ui"></div>
  <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  <script>
    window.onload = function() {
      const ui = SwaggerUIBundle({
        url: "{{.SwaggerURL}}",
        dom_id: '#swagger-ui',
        deepLinking: {{.DeepLinking}},
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        requestInterceptor: (req) => {
          const token = localStorage.getItem('jwt_token');
          if (token) {
            req.headers['Authorization'] = 'Bearer ' + token;
          }
          return req;
        }
      });
      
      // Add auth token to localStorage for demo purposes
      window.ui = ui;
    }
  </script>
</body>
</html>